<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<!--local-->
    <h1><%= title %></h1>
    <p>Account page to <%= title %></p>
    <% if(!isAuthenticated) { %>
        <a href="/login">Log in here</a>
    <% } else { %>
        Hello, <%= user.name %>
    <a href="/logout">Log Out</a>
    <% } %>
<!--facebook-->
    <h3>facebook</h3>
    <p>
        <strong>id</strong>: <%= user.fbid %><br>
        <strong>name</strong>: <%= user.name %><br>
        <strong>token</strong>: <%= user.fbtoken %><br>
        <strong>email</strong>: <%= user.email %><br>
    </p>
</body>
</html>
